DATABASE_URL=mongodb://localhost:27017/
TWILIO_ACCOUNT_SID=twilio_account_sid_here
TWILIO_AUTH_TOKEN=twilio_auth_token_here
TWILIO_MESSAGING_SERVICE_SID=twilio_messaging_service_sid_here
ACCESS_TOKEN_SECRET=jwt_access_token_secret_here
AWS_REGION=your_aws_region_here
S3_BUCKET_NAME=your_s3_bucket_name_here
AWS_ACCESS_KEY_ID=your_aws_access_key_id_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key_here