DATABASE_URL=mongodb://localhost:27017/
TWILIO_ACCOUNT_SID=twilio_account_sid_here
TWILIO_AUTH_TOKEN=twilio_auth_token_here
TWILIO_MESSAGING_SERVICE_SID=twilio_messaging_service_sid_here
ACCESS_TOKEN_SECRET=jwt_access_token_secret_here