.closeIcon {
    width: 25px;
    filter: brightness(0) saturate(100%) invert(35%) sepia(95%) saturate(2549%) hue-rotate(296deg) brightness(88%) contrast(85%);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        width: 30px;
        cursor: pointer;
    }
}

.eventDetails {
    margin-top: 100px;
    padding: 20px;
}