.footer {
    margin-top: 50px;
}

.footerContent {
    border: solid 1px black;
    border-top-left-radius: 80px;
    background: linear-gradient(135deg, #414345 0%, #232526 100%);

    h3 {
        color: white;
    }

    p {
        color: white;
    }

}

.horizontal {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-right: 70px;
    padding-left: 70px;
    padding-top: 30px;
    gap: 15px;

    h3 {
        text-decoration: underline;
    }

}

.copyright {
    text-align: center;
    padding-bottom: 20px;
    padding-bottom: 50px;
}

.divider {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
}

.icons {
    width: 10px;
    padding: 5px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7474%) hue-rotate(360deg) brightness(94%) contrast(99%);
}

.insta {
    width: 20px;
}

.iconsBar {
    display: flex;
    gap: 10px;
}

.socials {
    padding-right: 30px;
}