.eventCard {
    width: 300px;
    border: 1px solid #0474f3;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0 0 20px 5px #0474f3;
    overflow: hidden;
    cursor: pointer;

    img {
        width: 100%;
    }
}